<div class="row justify-content-center mt-5">
  <div class="col col-md-3">
<form class="px-3" [formGroup] ="submitForm">
  <div class="mb-3">
    <label class="form-label">Id</label>
    <input type="number" formControlName ="id" disable value="date" class="form-control" [readonly]="true">
  </div>
  <div class="mb-3">
    <label class="form-label">Employee Name</label>
    <input type="text" formControlName ="name" class="form-control" id="exampleInputEmail1" >

  </div>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" formControlName ="email" class="form-control" id="exampleInputEmail1" >
  </div>
  <div class="mb-3">
    <label class="form-label">Age</label>
    <input type="number" formControlName ="age" min="20" class="form-control" id="exampleInputEmail1" >
  </div>
  
  <div class="mb-3">
    <label class="form-label">Joining date&time</label>
    <input type="datetime-local" formControlName ="joiningdatetime" class="form-control" id="exampleInputEmail1" >

  </div>
  <div class="mb-3">
    <label class="form-label">Image</label>
    <input type="file" formControlName="img" (change)="onFileChange($event)" class="form-control" id="exampleInputEmail1" >

  </div>
  <button type="submit" class="btn btn-primary text-center  " (click)="OnSubmit()">{{id=== 0 ? "Save" : "update"}}</button>
</form> 
</div>
</div>


<div class="m-5">
  <h2 class="text-center"> Employee List </h2>
</div>
<div class="mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Date&time</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let emp of apiAllData">
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.joiningdatetime}}</td>
        <td><img src={{emp.img}} alt="images" width="100px" height="100px"/></td>
        <td>
          <button type="button" class="btn btn-danger btn_one" (click)="onDelete(emp)">Delete</button><br/>
          <button type="button" class="btn btn-danger btn_one" (click)="onUpdate(emp)">Update</button>
        </td>
        
      </tr>
     
    </tbody>
  </table>
</div>